<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

{{!-- log in anchors --}}
<a href="/signup">Sign up</a>
<a href="/login">Log in</a>
{{!-- <a href="/profile">Sign up</a>
<a href="/logout">Sign up</a> --}}