{{#unless user}}
<div class="home-container">
  <h2 class="my-0">One mans cupboard is </br> anothers master bedroom!</h2>
  <p class="my-3">TransiRent is an exciting new platform that allows you to maximise the efficiency of your home renting experience by offering up your spare living space by the hour. No matter how big or small your extra space is we will help you find a grateful Tennant to take it of your hands. </p>
  <a class="btn btn-primary mt-3" href="#map-container" role="button">See our offers</a>
</div>

<div id="map-container" class="map-container">
  <div class='sidebar' style="overflow: auto; width: 300px; height: calc(100vh - 122px);">
    <div id='listings' class='listings'></div>
  </div>
  <div id='map' style='width: calc(100vw - 300px); height: 100vh;'></div>
</div>

{{else}}
<div id="map-container" class="map-container">
  <div class='sidebar' style="overflow: auto; width: 300px; height: calc(100vh - 122px);">
    <div id='listings' class='listings'></div>
  </div>
  <div id='map' style='width: calc(100vw - 300px); height: calc(100vh - 122px);'></div>
</div>
{{/unless}}

<footer class="container-fluid bg-light text-dark py-4 px-3">
  <p class="m-0">Designed and build by Markus, Alex and Jan.</p>
  <a class="text-dark github" href="https://github.com/transiRent/transiRent">GitHub</a>
</footer>

<script src="/js/mapbox.js"></script>