<h1>{{title}}</h1>
{{#if user}}
<p>Welcome {{user.username}}!</p>
{{else}}
<p>Welcome</p>
{{/if}}

<a href="/signup">Sign up</a>
<a href="/login">Log in</a>

{{#if user}}
<a href="/profiles">Profile</a>
<a href="/logout">Log out</a>
{{/if}}
<a href="/offers">Offers</a>

<div id='map' style='width: 700px; height: 500px;'></div>

