{{#with user}}

<h1>edit {{username}}'s profile</h1>


<form action="/profiles/edit/" method="POST" enctype="multipart/form-data">
  <label for="firstName">First name:</label>
  <input type="text" name="firstName" id="firstName" value="{{firstName}}">
  <label for="lastName">Last name:</label>
  <input type="text" name="lastName" id="lastName" value="{{lastName}}">
  <div>
    <label for="description">About me:</label>
    <input type="text" name="description" id="description" value="{{description}}">
  </div>
  <div>
    <label for="photo">Profile image:</label>
    <input type="file" name="photo" id="photo">
  </div>
  <button type="submit">save changes</button>
</form>
{{/with}}