{{#with user}}
<div class="p-3">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Edit {{username}}'s profile</h2>
    </div>
    <div class="card-body">
      <form action="/profiles/edit" method="POST" enctype="multipart/form-data">
        <div class="form-floating mb-3">
          <input class="form-control" placeholder="First Name" id="firstName" type="text" name="firstName"
            value="{{firstName}}">
          <label for="firstName">First Name</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" placeholder="Last Name" id="lastName" type="text" name="lastName"
            value="{{lastName}}">
          <label for="lastName">Last Name</label>
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="About me" name="description" id="description"
            style="height: 100px">{{description}}</textarea>
          <label for="description">About me</label>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="photo">Add picture</label>
          <input type="file" class="form-control" name="photo" id="photo">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
      </form>
    </div>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">
    Delete Account
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete your Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete your account?</p>
          <p>All your offers and bookings will be deleted</p>
        </div>
        <div class="modal-footer">
          <form action="/profiles/delete" method="POST">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Delete Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{/with}}