{{#with userInfo}}
<h1>How would you rate {{username}}</h1>
{{#if imgPath}}
<img src="{{imgPath}}" height="100px" alt="profile-pic">
{{/if}}
<div>
  <form action="/profiles/rate/{{_id}}" method="POST">
    <div class="btn-group mb-3" role="group">
        <input type="radio" class="btn-check" name="rating" id="1" value="1">
        <label class="btn btn-outline-primary" for="1">1</label>
        <input type="radio" class="btn-check" name="rating" id="2" value="2">
        <label class="btn btn-outline-primary" for="2">2</label>
        <input type="radio" class="btn-check" name="rating" id="3" value="3">
        <label class="btn btn-outline-primary" for="3">3</label>
        <input type="radio" class="btn-check" name="rating" id="4" value="4">
        <label class="btn btn-outline-primary" for="4">4</label>
        <input type="radio" class="btn-check" name="rating" id="5" value="5">
        <label class="btn btn-outline-primary" for="5">5</label>
        <button type="submit" class="btn btn-primary btn-lg">leave your rating for {{username}}</button>
      </div>
  </form>
</div>
{{/with}}
