 {{#with user}}
<div class="p-3">
  <div class="card">
    <div class="row">
      <div class="col-8">
        <div class="card-header">
          <h2 class="card-title">
            My Public Profile
          </h2>
        </div>
       <div class="card-body">
        <a class="badge bg-primary" href="profiles/edit/">
          edit your public profile
        </a>
        {{#if firstName}}
     <div class="card">
       <div class="card-header">first name</div>
       <div class="card-body">{{firstName}}</div>
     </div>
        {{/if}}
        {{#if lastName}}
     <div class="card">
       <div class="card-header">last name</div>
       <div class="card-body">{{lastName}}</div>
     </div>
     {{/if}}
     {{#if description}}
     <div class="card">
       <div class="card-header">about</div>
       <div class="card-body">{{description}}</div>
     </div>
     {{/if}}
    </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">profile picture</div>
      {{#if imgPath}}
        <img class="card-img-top" src="{{imgPath}}" alt="profile-pic">
      {{/if}}
      </div>
    </div>
    <div>
  </div>
</div>
 {{/with}}